@model Dish
<div class="text-center">
    <form action="/adddish" method="post">
    <div class="form-group">
        <label for="Name">Dish Name</label>
        <input asp-for="Name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="ChefId">Chef's Name</label>
        <select asp-for="ChefId">
            @foreach (Chef c in ViewBag.AllChefs)
            {
                <option value="@c.ChefId">@c.FirstName @c.LastName</option>
            }
        </select>
        <span asp-validation-for="ChefId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="Calories">Calories</label>
        <input asp-for="Calories">
        <span asp-validation-for="Calories" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="Tastiness">Tastiness</label>
        <input asp-for="Tastiness">
        <span asp-validation-for="Tastiness" class="text-danger"></span>
    </div>
        <div class="form-group">
        <label for="Description">Description</label>
        <input asp-for="Description">
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="submit" class="btn btn-info">
    </div>
    </form>
</div>